---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/2178204/field.json?oauth_token=valid_oauth_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"37314714","label":"Short Answer","hide_label":"0","description":"Here
        is a sample tooltip","name":"short_answer","type":"text","options":"","required":"1","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"0","default":"","text_size":50,"maxlength":0,"placeholder":"What
        is your short answer?"},{"id":"37314722","label":"Longer Text Answer","hide_label":"0","description":"","name":"longer_text_answer","type":"textarea","options":"","required":"1","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"1","default":"","rows":10,"cols":50,"maxlength":0,"placeholder":""},{"id":"40963803","label":"Date\/Time","hide_label":"0","description":"","name":"datetime","type":"datetime","options":"","required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"2","default":{"default":null},"date_format":"M
        d, Y","time_format":"h:i A","year_minus":5,"year_plus":5},{"id":"44337087","label":"Select
        (Radio Buttons) - Optional","hide_label":"0","description":"","name":"select_radio_buttons__optional","type":"radio","options":[{"label":"Option1","value":"Option1"},{"label":"Option2","value":"Option2"},{"label":"Option3","value":"Option3"}],"required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"3","default":"","option_layout":"vertical","option_other":"0","randomize_options":0,"option_store":"value","option_show_values":0},{"id":"37314734","label":"Select
        (Radio Buttons) - Required","hide_label":"0","description":"","name":"select_radio_buttons__required","type":"radio","options":[{"label":"Option1","value":"Option1"},{"label":"Option2","value":"Option2"},{"label":"Option3","value":"Option3"}],"required":"1","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"4","default":"","option_layout":"vertical","option_other":"1","randomize_options":0,"option_store":"value","option_show_values":0},{"id":"37314736","label":"Select
        (Dropdown List)","hide_label":"0","description":"","name":"select_dropdown_list","type":"select","options":[{"label":"Option1","value":"Option1"},{"label":"Option2","value":"Option2"},{"label":"Option3","value":"Option3"}],"required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"5","default":"","select_size":1,"option_layout":"vertical","option_other":0,"randomize_options":0,"option_store":"value","option_show_values":0},{"id":"40952921","label":"Show
        Dropdown (if Dropdown is not Option1)","hide_label":"0","description":"","name":"show_dropdown_if_dropdown_is_not_option1","type":"select","options":[{"label":"Option1","value":"Option1"},{"label":"Option2","value":"Option2"},{"label":"Option3","value":"Option3"}],"required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"6","default":"","select_size":1,"option_layout":"vertical","option_other":0,"randomize_options":0,"option_store":"value","option_show_values":0},{"id":"37314733","label":"Select
        (Checkbox)","hide_label":"0","description":"","name":"select_checkbox","type":"checkbox","options":[{"label":"Option1","value":"Option1"},{"label":"Option2","value":"Option2"},{"label":"Option3","value":"Option3"}],"required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"7","default":"","option_layout":"vertical","option_other":"1","option_checkall":"0","randomize_options":0,"option_store":"value","option_show_values":0},{"id":"41111633","label":"Here''s
        a checkbox question that is just so long the text goes on and on and on. I''m
        just going to keep typing until the question is so large that some of the
        text is no longer readable because it goes off the screen. How is a user supposed
        to answers a question like this when they can''t see most of it. This is particularly
        problematic on small iOS phones. [...]
