---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/2358865.json?oauth_token=valid_oauth_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2358865","name":"US SES Test - tech","viewkey":"IHNzNagDMm","views":"1","created":"2016-05-11
        08:01:58","updated":"2016-07-28 04:51:41","deleted":"0","db":"1","submissions":"0","submissions_unread":"0","submissions_today":0,"url":"https:\/\/streetbees.formstack.com\/forms\/ussestest_copy","data_url":"","summary_url":"","rss_url":"","encrypted":false,"thumbnail_url":"https:\/\/s3.amazonaws.com\/files.formstack.com\/admin\/","submit_button_title":null,"inactive":false,"timezone":"Europe\/London","permissions":"full","folder":"TES","javascript":"<script
        type=\"text\/javascript\" src=\"https:\/\/streetbees.formstack.com\/forms\/js.php\/ussestest_copy\"><\/script><noscript><a
        href=\"https:\/\/streetbees.formstack.com\/forms\/ussestest_copy\" title=\"Online
        Form\">Online Form - US SES Test - tech<\/a><\/noscript>","html":"<!DOCTYPE
        html>\n<html lang=\"\">\n<head>\n<title>US SES Test - tech<\/title>\n<meta
        charset=\"utf-8\" \/>\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1\">\n<!--[if IE]>\n<link rel=\"stylesheet\"
        type=\"text\/css\" media=\"all\" href=\"https:\/\/www.formstack.com\/forms\/css\/3\/ie.css?20140508\"
        \/>\n<![endif]-->\n<!--[if IE 7]><link rel=\"stylesheet\" type=\"text\/css\"
        media=\"all\" href=\"https:\/\/www.formstack.com\/forms\/css\/3\/ie7.css\"
        \/><![endif]-->\n<!--[if IE 6]><link rel=\"stylesheet\" type=\"text\/css\"
        media=\"all\" href=\"https:\/\/www.formstack.com\/forms\/css\/3\/ie6fixes.css\"
        \/><![endif]-->\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"\/\/static.formstack.com\/forms\/css\/3\/reset.css\"
        \/>\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"\/\/static.formstack.com\/forms\/css\/3\/jquery-ui.css\"
        \/>\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"\/\/static.formstack.com\/forms\/css\/3\/default.css\"
        \/>\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"\/\/static.formstack.com\/forms\/css\/3\/steel.css\"
        \/>\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"\/\/static.formstack.com\/forms\/..\/common\/css\/uil-static.css\"
        \/>\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"\/\/static.formstack.com\/forms\/css\/common\/dialogs.css\"
        \/>\n<style type=\"text\/css\">\n<\/style>\n<\/head>\n<body class=\"fsBody\"
        id=\"fsLocal\">\n<form method=\"post\" novalidate enctype=\"multipart\/form-data\"
        action=\"https:\/\/www.formstack.com\/forms\/index.php\" class=\"fsForm fsSingleColumn
        fsMaxCol1\" id=\"fsForm2358865\">\n<input type=\"hidden\" name=\"form\" value=\"2358865\"
        \/>\n<input type=\"hidden\" name=\"viewkey\" value=\"IHNzNagDMm\" \/>\n<input
        type=\"hidden\" name=\"hidden_fields\" id=\"hidden_fields2358865\" value=\"\"
        \/>\n<input type=\"hidden\" name=\"_submit\" value=\"1\" \/>\n<input type=\"hidden\"
        name=\"incomplete\" id=\"incomplete2358865\" value=\"\" \/>\n<input type=\"hidden\"
        name=\"incomplete_password\" id=\"incomplete_password2358865\" \/>\n<input
        type=\"hidden\" name=\"style_version\" value=\"3\" \/>\n<input type=\"hidden\"
        id=\"viewparam\" name=\"viewparam\" value=\"598544\" \/>\n<div role=\"alert\"
        id=\"requiredFieldsError\" style=\"display:none;\">Please fill in a valid
        value for all required fields<\/div>\n<div role=\"alert\" id=\"invalidFormatError\"
        style=\"display:none;\">Please ensure all values are in a proper format.<\/div>\n<div
        role=\"alert\" id=\"resumeConfirm\" style=\"display:none;\">Are you sure you
        want to leave this form and resume later?<\/div>\n<div role=\"alert\" id=\"resumeConfirmPassword\"
        style=\"display: [...]
